%header
  %nav
    .logo
      Sananmeri
    .menu
      %ul
        %li
          = link_to "投稿（仮）", "#"
        %li
          = link_to "検索（仮）", "#"
        %li
          = link_to "ログイン（仮）", "#"
        %li
          = link_to "ヘルプ（仮）", "#"
